* {
  margin: 0px;
  padding: 0px;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 300ms linear;
  z-index: 1080;
}

#sidebar.active {
  left: -32px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}

#sidebar ul li a {
  text-decoration: none;
  color: rgba(230, 230, 230, .9);
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 100px; 
}

#sidebar .toggle-btn {
  position: absolute;
  left: 216px;
  top: 86px;
  cursor: pointer;
}